Xilinx/.Xil/
Xilinx/output/
DAPHNE/
compile/
vivado*.log
vivado*.jou
*.adf
*.duser
*.wsp
Edfmap.ini
Xilinx/tight_setup_hold_pins.txt
bde.set
compilation.order
compile.cfg
log/
projlib.cfg
stimulators.set
synthesis.order
/.vscode